.borderForm {
  border: none;
  outline: none;
  border-radius: 0px;
  border-bottom: 2px #afafaf solid !important;

}

.cards {
  justify-content: flex-start;
  display: flex;
}

.card {
  width: 450px;
  height: 150px;
  border: 1px #afafaf solid !important;
  border-radius: 10px;
  padding: 15px;
  margin-right: 20px;

}


.button-style {
  width: 100px;
  margin-block-end: 100px;
}
